<%= link_to "New Todo", "/todos/new" %>

<h2>My TODOs</h2>

<% if flash[:notice] %>
  <p style="background-color: teal"><%= flash[:notice] %></p>
<% end %>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <%= todo.title %>
    </li>
  <% end %>
</ul>

<%= form_tag ({action: "index"}), {method: "get"} do %>
  <%= text_field_tag :q %>
  <%= submit_tag "filter" %>
<% end %>